/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

select, button {
	height: calc(1rem + 0.4rem + 2px);
}

* {
	box-sizing: border-box;
}

body {
	background: #eee;
	margin-top: 60px;
}

#messageList {
	display: block;
	background: #fdfdfd;
	padding: 0.2rem 0.75rem;
	margin-bottom: 1px;
	border-bottom: 1px solid #fdfdfd;
}

#messageList li{
	display: block;
	background: #fdfdfd;
	padding: 0.2rem 0;
}

#ctrlBox {
	background: #eee;
	padding: 0.5rem 0.75rem;
	margin-bottom: 1px;
	border-bottom: 1px solid #fdfdfd;
}

#appendLiquidationVolume, #appendMain {
	margin-bottom: 1px;
	border-bottom: 1px solid #fdfdfd;
}

header {
	padding: 30px 2% 10px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
 }

 h1 {
	margin: 0; padding: 0;
	font-size: 20px;
 }

 a {
	text-decoration: none;
	color: #4b4b4b;
 }

 nav {
	margin: 0 0 0 auto;
 }

nav.ul {
	margin: 0;
	display: flex;
 }

 nav.li {
	margin: 0 0 0 15px;
 }
